<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.satan.mapper.ComplexQueryMapper">
    <resultMap id="User" type="com.satan.mode.User">
        <result property="id" column="id" javaType="Integer" jdbcType="INTEGER"/>
        <result property="name" column="name" javaType="String" jdbcType="VARCHAR"/>
        <result property="age" column="age" javaType="Integer" jdbcType="INTEGER"/>
        <result property="email" column="email" javaType="String" jdbcType="VARCHAR"/>

    </resultMap>

    <resultMap id="Game" type="com.satan.mode.Game">
        <result property="id" column="id" javaType="Integer" jdbcType="INTEGER"/>
        <result property="user_id" column="user_id" javaType="Integer" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="ComplexQueryResult" type="com.satan.mode.ComplexQueryResult">
        <result property="id" javaType="Integer" column="uid" jdbcType="INTEGER"/>
        <result property="age" javaType="Integer" column="age" jdbcType="INTEGER"/>
        <result property="name" javaType="String" column="name" jdbcType="VARCHAR"/>
        <result property="email" javaType="String" column="email" jdbcType="VARCHAR"/>
        <result property="gId" javaType="Integer" column="gid" jdbcType="INTEGER"/>

    </resultMap>

    <select id="QueryGame" resultMap="User">
        SELECT *
        FROM user
    </select>

    <select id="QueryUsers" resultMap="User">
        SELECT * from user where
        <foreach collection="CQ.ids" item="t" separator="or">
            id=#{t}
        </foreach>
    </select>

    <select id="QueryComplex" resultMap="ComplexQueryResult">
        select u.id as uid, email, g.id as gid from user u inner join game g on u.id = g.user_id
        where
        <foreach collection="CQ.ids" item="t" separator="or">
            u.id = #{t}
        </foreach>
    </select>

    <select id="QueryComplexJoin" resultMap="ComplexQueryResult">
        select u.id as uid, name, age, email, g.id as gid from user u inner join game g on u.id = g.user_id
        where
        <foreach collection="CQ.ids" item="t" separator=") or (" index="idx" open="(" close=")">

            u.id=#{t} AND email = #{CQ.emails[${idx}]}
        </foreach>
    </select>


</mapper>
